@{
    ViewBag.Title = "Shipping & Returns Policy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<object width="1020px" height="760px" data="~/Content/Documents/SGFastFlyers_Shipping_and_Returns_Policy.pdf"></object>

