@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    SG Fast Flyers came about from sheer frustration at the process of sending flyers. When trying to make an order, 9 emails and 3 phone calls were required. The process took around 5 hours to complete.
We at SG Fast Flyers want you to get on with your day, without worrying about your delivery process.</p><br />
<p>SG Fast Flyers is a family affair, with two brothers and one son/nephew.</p>
