@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    SG Fast Flyers came about from sheer frustration at the process of sending flyers. When trying to make an order, 9 emails and 3 phone calls were required. The process took around 5 hours to complete.
    We at SG Fast Flyers want you to get on with your day, without worrying about your delivery process.
</p>
<p>SG Fast Flyers is a family affair, with two brothers and one son/nephew.</p>
<h2>What we do</h2>
<p>We don't muck around here at SG Fast Flyers. What we do is simple:<br />1.   We organise your flyer delivery.<br />2.    We can organise to print your DL or A5 flyers, and then deliver them.</p>
<h3 style="color:blue">That's it.</h3><br />
<p>
    That's all we do. However we do it very efficiently for you. You can select how many flyers you want delivered or printed and delivered, select where you want them delivered and the date, create the order and that's it.
    There is no back and forth, no email's or phone calls (unless you want a chat), just a simple transaction. 
</p><br />
<h2 style="color:red">All within 10 minutes!</h2><br />
<p>Return to the <a href="~/Home/Index">home page</a> to get an instant quote or <a href="~/Orders/Create">place an order</a> directly.</p><br />
<p>Thank you for visiting, we hope you have a great day!</p>
