@model SGFastFlyers.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <div class="jumbotron" style="background-color:transparent">
        <h1>
            <img src="~/Content/Images/logo.jpg" width="200" height="200" /><span style="color:#F9E141" /><span style="padding:10px"></span>SG
            <span style="color: black" />Fast Flyers<br />
        </h1>
        <h1 style="text-align:center; color:black">
            Organise your print and distribution in under <span style="color:red">10 minutes!</span>

        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.EditorForModel("InstantQuoteViewModel", "HomePageQuoteViewModel")
           
                    <input type="submit" value="Order Now" class="btn btn-default" style="background-color:#7FFF00; font:large" />
                    <!--<input type="submit" value="Email your quote" class="btn btn-default" />-->

                </div>
        <link href="~/Content/circle.css" rel="stylesheet" />"
        <div class="row">
            <!--This section is copied from http://ldn.net.au/home I would rather the wagon wheel effect going around...but either way...as long as it looks good.-->
            <div class="col-md-6">
                <div class="container">
                    <h2>Why letterbox advertising?</h2>

                    <p class="sub-header">Letterbox advertising is a great way for SMEs to reach their target audience. &nbsp;</p>

                    <p class="sub-header">&nbsp;</p>


                    <ul class="statistic-list list-inline row">
                        <li class="item col-md-4 col-sm-6">
                            <div class="item-con statistic1">
                                </div>
                                <div class="">
                                    <div class="clearfix">
                                        <div class="c100 p62">
                                            <span>62%</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>

                                            </div>
                                        </div>
                                        </div>
                                        <span></span>
                                    </div>
                                <div class="statistic-description" style="font-weight:bold">62% of Australians think catalogues and flyers are the most effective advertising channel</div>
                            
                        </li>
                        <li class="item col-md-4 col-sm-6">
                            <div class="item-con statistic2">
                                
                                </div>
                                <div class="">
                                    <div class="dark-area clearfix">
                                        <div class="c100 p100 dark">
                                            <span >3.7M</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="statistic-description" style="font-weight:bold">3.7 million more people read letterbox media than a daily newspaper Monday to Friday.</div>
                        
                        </li>
                        <li class="item col-md-4 col-sm-6">
                           
                                
                              
                                <div class="">
                                    <div class="">
                                        <div class="dark-area clearfix">
                                            <div class="c100 p88 green">
                                                <span>88%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>

                                                </div>
                                            </div>
                                        </div>
                                        <span></span>
                                    </div>
                                <div class="statistic-description" style="font-weight:bold">88% people that receive letterbox advertising read or look into it</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
}
