@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1><span style="color:#F5E90C;">SG</span> Fast Flyers</h1>
    <p color="#ddd">The fastest flyers in the west.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Example Section</h2>
        <p>
            Section A
        </p>
    </div>
    <div class="col-md-4">
        <h2>Example Section</h2>
        <p>
            Section B
        </p>
    </div>
    <div class="col-md-4">
        <h2>Example Section</h2>
        <p>
            Section C
        </p>
    </div>
</div>