@model SGFastFlyers.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type='text/javascript' src='~/Scripts/jquery.js?ver=1.12.3'></script>
<script>var $j = jQuery.noConflict(true);</script>
<script type="text/javascript" src='~/Scripts/jquery.easing.js'></script>
<script type="text/javascript" src='~/Scripts/jquery.jcarousel.min.js'></script>
<script type="text/javascript" src='~/Scripts/Custom/global.js'></script>
<script type="text/javascript" src='~/Scripts/owl.carousel.min.js'></script>
@using (Html.BeginForm())
{
    <div class="jumbotron" style="background-color:transparent">
        <div class="row-start">

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="col-left">
                    <h1>
                        <img class="img-responsive" src="~/Content/Images/logo.jpg" />
                    </h1>
                </div>
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8" style="vertical-align:middle">
                <h1>
                    <span class="text-nowrap"><text style="color:#F9E141">SG</text><text style="color:black"> Fast Flyers</text></span><br />
                </h1>
            </div>

        </div>
        <h1 style="text-align:center; color:black">
            Organise your flyer printing and distribution in under <span style="color:red">10 minutes!</span>

        </h1>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                @Html.EditorForModel("InstantQuoteViewModel", "HomePageQuoteViewModel")
                <div class="col-md-offset-4">
                    <input type="button" name="emailQuote" value="Email your quote" class="btn btn-primary" id="emailQuote" />
                    <input type="hidden" name="hdnemailQuote" id="hdnemailQuote" value="" />
                    <input type="button" name="orderNow" value="Order Now" class="btn btn-success" id="orderNow" style="background-color:#7FFF00" />
                    <input type="hidden" name="hdnorderNow" id="hdnorderNow" value="" />
                </div>
            </div>

            <link href="~/Content/circle.css" rel="stylesheet" />

            <!--This section is copied from http://ldn.net.au/home I would rather the wagon wheel effect going around...but either way...as long as it looks good.-->
            <div class="col-sm-6 col-md-6 col-lg-6">

                <h2>Why letterbox advertising?</h2>

                <p class="sub-header">Letterbox advertising is a great way for SMEs to reach their target audience. &nbsp;</p>

                <p class="sub-header">&nbsp;</p>

                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            <div class="clearfix">
                                <div class="c100 p62">
                                    <span>62%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text" style="font-weight:bold">62% of Australians think catalogues and flyers are the most effective advertising channel.</div>
                        </div>
                    </div>


                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            <div class="dark-area clearfix">
                                <div class="c100 p100 dark">
                                    <span>3.7M</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text" style="font-weight:bold">3.7 million more people read letterbox media than a daily newspaper Monday to Friday.</div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            <div class="dark-area clearfix">
                                <div class="c100 p88 green">
                                    <span>88%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text" style="font-weight:bold">88% of people that receive letterbox advertising read or look into it.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="testimonial">
                <div class="containers">
                    <div class="testimonialrow">
                        <div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">                           
                            <div class="col-lg-4">
                                <div class="item">
                                    <div class="testimonial-quote-item">
                                        <img alt='Lori H' src='~/Content/Images/avatars.png' class='avatar avatar-80 photo' height='80' width='80' />
                                        <span class="quote-text">
                                            It was so quick and easy to sort out my flyer printing and delivery I thought it was a mistake. Such an efficient site that takes care of everything I needed. Will be using again. Thank you SG Fast Flyers.
                                        </span>
                                        <span class="quotes-author">– Lori H - Brisbane  </span>
                                    </div><!--/ Item end -->
                                </div>
                            </div>
                               
                            <div class="col-lg-4">
                                <div class="item">
                                    <div class="testimonial-quote-item">
                                        <img alt='Jane S' src='~/Content/Images/avatars.png' class='avatar avatar-80 photo' height='80' width='80' /><span class="quote-text">
                                            Even though the website was easy to use, I had some questions that I needed answered before I was able to go ahead. Adam and the team were quick and easy to deal with and had me sorted out in no time. Thanks Adam.
                                        </span>
                                        <span class="quotes-author">– Jane S – Rockhampton </span>
                                    </div><!--/ Item end -->
                                </div>
                            </div>


                                <div class="item">
                                    <div class="testimonial-quote-item">
                                        <img alt='Scotty' src='~/Content/Images/avatars.png' class='avatar avatar-80 photo' height='80' width='80' /><span class="quote-text">
                                            I knew exactly how many flyers I wanted delivered and printed, where they were going and when, so using www.sgfastflyers.com.au was a really pleasant experience. It has saved me about an hour a week. Great stuff.
                                        </span>
                                        <span class="quotes-author"> – Scotty – Geelong </span>
                                    </div>
                                </div><!--/ Item end -->


                                <div class="item">
                                    <div class="testimonial-quote-item">
                                        <img alt='Terry D' src='~/Content/Images/avatars.png' class='avatar avatar-80 photo' height='80' width='80' /><span class="quote-text">
                                            Great site, easy to use. Quick and efficient.
                                        </span>
                                        <span class="quotes-author"> – Terry D - Sydney </span>
                                    </div>
                                </div><!--/ Item end -->


                            </div><!--/ Testimonial carousel end-->


                    </div><!--/ Content row end -->
                </div><!--/ Container end -->
        </div><!--/ Testimonial end -->

    </div>

    <script language="javascript">
        function validatePrintSize() {
            if ($("#HomePageQuoteViewModel_NeedsPrint").is(":checked") && ($("#HomePageQuoteViewModel_PrintSize").val() == "0" ||
                $("#HomePageQuoteViewModel_PrintSize").val() == "")) {
                $('#PrintSize-error').css("display", "block");
                $('#PrintSize-error').css("padding-left", "190px");
                $('#PrintSize-error').text("Choose DL (99mm × 210mm, 1/3 A4) or A5 (148mm X 210mm, 1/2 A4). For other sizes please contact us for a quote.");
                return false;
            } else {
                $('#PrintSize-error').css("padding-left", "0");
                $('#PrintSize-error').css("display", "none");
                $("#PrintSize-error").text("");
                return true;
            }
        }

        $(document).ready(function () {
            var $form = $('form');

            //Email Quote Button:
            $("#emailQuote").bind('click', function (e) {
                if ($form.valid()) {
                    if (!validatePrintSize()) {
                        return false;
                    }
                } else {
                    if (!validatePrintSize()) {
                        return false;
                    }
                }
                $("#hdnorderNow").val("");
                $("#hdnemailQuote").val("Email your quote");
                $form.submit();
            });

            //Order Now Button:
            $("#orderNow").bind('click', function (e) {
                if ($form.valid()) {
                    if (!validatePrintSize()) {
                        return false;
                    }
                } else {
                    if (!validatePrintSize()) {
                        return false;
                    }
                }
                $("#hdnemailQuote").val("");
                $("#hdnorderNow").val("Order Now");
                $form.submit();
            });
        });
    </script>
}


